.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.post-list ul {
    list-style: none;
    padding-left: 0;
}

div.post-list ul li {
    margin-bottom: 0.7rem;
    line-height: 1.3;
}

a#home-link { float: left; padding-left: 10px; }
a#home-link img { width: 32px; }

.alert {
    background-color: #f2dede;
    color: #b94a48;
}

.info {
    background-color: #d9edf7;
}

a.current { color: #999; }

html, body, .wrap { height: 100%; }

.root-container {
  width: 80%;
  max-width: 768px;
  margin: auto;
  text-align: center;
}

@media (max-height: 480px) {
    .root-container { margin-top: 50px; }
}

@media (min-height: 481px) {
    .root-container { margin-top: 150px; }
}

@media (min-height: 600px) {
    .root-container { margin-top: 200px; }
}

@media (min-height: 900px) {
    .root-container { margin-top: 300px; }
}

.root-text {
  font-size: 1.25em;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.root-links {
  padding: 10px 0px 20px 0px;
}

.root-links a {
  padding: 10px;
  display: inline-block;
}

.small { font-size: 80%; }
.red { color: #F33F2B; }
.orange { color: #D69527; }
.green { color: #00983B; }
.pink { color: #DF6098; }
.grey { color: #555; }

a.home-link {
  position: absolute;
  top:  0.3rem;
  left: 0rem;
  color: #333;
  font-weight: normal;
  font-size: 1.25rem;
  display: block;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

span.date {
  font-size: .8rem;
  display: inline-block;
  width: 100px;
}
