{% if site.google_analytics_id %}
  <!-- Google Analytics (http://google.com/analytics) -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics_id }}']);
    _gaq.push(['_setDomainName', '{{ site.url }}']); // Multiple sub-domains
    _gaq.push(['_setAllowLinker', true]); // Multiple TLDs
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endif %}

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project=6727808; 
    var sc_invisible=1; 
    var sc_security="d04cb966"; 
</script>
<script type="text/javascript"
    src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="web analytics"
            href="http://statcounter.com/" target="_blank"><img
            class="statcounter"
            src="http://c.statcounter.com/6727808/0/d04cb966/1/"
            alt="web analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
