<br/>
<div class="message" markdown="1">
  <p>Checkout other sections of the book - </p>

  <ol>
    <li>
    <a href="/rails-devops/introduction/" 
      {% if page.url == "/rails-devops/introduction/"%}class="current" {% endif %}>
      Introduction</a>
    </li>
    <li>
    <a href="/rails-devops/deployment-strategies/" 
      {% if page.url == "/rails-devops/deployment-strategies/"%}class="current" {% endif %}>
      Deployment Strategies</a>
    </li>
    <li>
    <a href="/rails-devops/preparing-the-server/" 
      {% if page.url == "/rails-devops/preparing-the-server/"%}class="current" {% endif %}>
      Preparing The Server</a>
    </li>
    <li>
    <a href="/rails-devops/deploying-application/" 
      {% if page.url == "/rails-devops/deploying-application/"%}class="current" {% endif %}>
      Deploying Application</a>
    </li>
    <li>
    <a href="/rails-devops/backup-plan/" 
      {% if page.url == "/rails-devops/backup-plan/"%}class="current" {% endif %}>
      Setting Up A Backup Process</a>
    </li>
    <li>
    <a href="/rails-devops/basics-of-server-maintenance/" 
      {% if page.url == "/rails-devops/basics-of-server-maintenance/"%}class="current" {% endif %}>
      Basics of Server Maintenance</a>
    </li>
    <li>
    <a href="/rails-devops/basic-troubleshooting/" 
      {% if page.url == "/rails-devops/basic-troubleshooting/"%}class="current" {% endif %}>
      Basic Troubleshooting</a>
    </li>
    <li>
    <a href="/rails-devops/scaling/" 
      {% if page.url == "/rails-devops/scaling/"%}class="current" {% endif %}>
      Scaling</a>
    </li>
  </ol>
</div>
