<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">

        <div class="post">
          <h1 class="post-title">{{ page.title }}</h1>
          {{ content }}
        </div>

        <div class="social-buttons">
            <p><a href="https://twitter.com/share" class="twitter-share-button"
                data-via="jagira" data-size="large">Tweet</a></p>
            <script>!function(d,s,id){var
                js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,
            'script', 'twitter-wjs');</script>
        </div>
        {% include comments.html %}
      </div>
    </div>

    <a class="home-link" href="javascript:history.back()"><i class="fa fa-long-arrow-left"></i></a>

    {% include analytics.html %}
  </body>
</html>
